<footer class="bg-dark  text-white">
    <div class="container  text-center  py-3">
        <div class="footer-icon  d-flex justify-content-center align-items-center">
            <span class=""><a href="https://www.facebook.com/baheg.eg/" class="fs-4   rounded-circle" target="_blank">
                    <i class=" fa-brands fa-facebook-f"></i></a></span>
            <span class=" "><a href="https://www.instagram.com/baheg.eg/?hl=ar" class="fs-4  border-1 rounded-circle "
                    target="_blank"> <i class="fa-brands fa-instagram"></i></a></span>
            <span class=""><a href="https://www.tiktok.com/@baheg.eg/video/7434543315648826644"
                    class="fs-4  border-1 rounded-circle " target="_blank"> <i
                        class="fa-brands fa-tiktok"></i></a></span>
            <span class=""><a href="#" class="fs-4  border-1 rounded-circle " target="_blank"> <i
                        class="fa-brands fa-twitter"></i></a></span>
        </div>
        <p class="my-2">© 2024 Baheeg it All rights reserved | Designed By

            <span class="text-info"> Kareem Farouh</span>
        </p>


    </div>
</footer>