<div class="bg-dark">








    <!---================= carosel=====================--->
    <div class="container rounded-3 pt-3">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/Seafood logo .jpeg" class="h-100  rounded-3 w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/Bahij — AI designed m.png" class="h-100 rounded-3 d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


    <!--=================== card========================= -->
    <section class="py-3">
        <div class="container bg-dark">
            <div class="text-center">
                <div class="fw-bolder fs-3">Special title For about</div>
                <p>

                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card h-100">
                            <img src="/images/seafood social .jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text h-100">This is a longer card with supporting text below as a natural
                                    lead-in
                                    to additional
                                    content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/images/seafood social media designs_1736981041116.jpeg" class="card-img-top"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in
                                    to additional
                                    content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="/images/Abo Ali Sea food .png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text h-100">This is a longer card with supporting text below as a natural
                                    lead-in
                                    to additional
                                    content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/images/Abo Ali Sea.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in
                                    to additional
                                    content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="/images/Abo Ali Sea food .png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title ">Card title</h5>
                                <p class="card-text h-100">This is a longer card with supporting text below as a natural
                                    lead-in
                                    to additional
                                    content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/images/seafood social .jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in
                                    to additional
                                    content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="mt-5 py-3 d-inline-block mx-auto px-4 bg-info rounded-4 text-white text-capitalize"> Small
                    Discribtions</h3>

                <p class="text-white"> lit possimus porro. Libero suscipit illo possimus! Quibusdam qui nemo
                    velit mollitia totam quos atque officiis maiores excepturi debitis. Inventore deserunt omnis ratione
                    autem, consequatur reprehenderit ex suscipit dolores praesentium a eligendi nihil provident unde rem
                    similique facilis nam pariatur explicabo minima deleniti vitae ipsum porro? Architecto vero pariatur
                    autem soluta ullam labore impedit nihil nobis fugiat inventore tempore adipisci cum, voluptate dicta
                    id

                    corrupti dolorum voluptas. Explicabo corporis repudiandae esse dolor reiciendis consectetur eaque
                    qui.
                    necessitatibus molestias cupiditate, officiis
                    repellendus aperiam omnis minima sunt. Commodi reprehenderit, harum corrupti qui, repellat cum
                    numquam
                    animi placeat nostrum molestiae quo expedita minus voluptatum officiis quasi hic tempore.
                    Voluptatibus
                    fugit dolorem ipsam praesentium aliquid. Quibusdam mollitia nisi nobis quidem nesciunt praesentium
                    vitae
                    illum cum fuga ea, debitis at tempora.
                </p>
            </div>
        </div>
    </section>
    <div class="container-fluid py-3 bg-light border border-dark-subtle">
        <div class="text-center">4 days ago</div>
    </div>
</div>