<section class="home" id="home">
    <div>
        <img src="/images/hoome.jpg" class=" w-100 rounded-1" alt="Bahij">
    </div>
    <div class="container-fluid ">

        <div class="container">
            <div class=" disc-sections  row  g-3 ">
                <div class="col-12">
                    <div class="text-center text-capitalize my-2">
                        <h1> Welcom in Baheeg </h1>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="pt-2"><img src="/images/Seafood logo (Baheeg)_1736980632905.jpeg"
                            class=" rounded-2 w-100" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="px-2">
                        <h2 class="">Who Baheeg <span class="text-info">!!</span></h2>
                        <p class="h6">the <span class="text-info">King</span> of the Amazing Phosphorus</p>

                        <p class=" disc-who-baheeg">The Bahij Seafood Restaurant is a fantastic destination for seafood
                            lovers. It features a modern and elegant
                            interior,
                            with walls adorned with beautiful marine-themed artwork, and a color scheme dominated by
                            calming
                            shades of blue
                            and
                            white that evoke the refreshing atmosphere of the sea. The lighting is warm and cozy, adding
                            to
                            the peaceful and
                            inviting ambiance.</p>
                        <p class="px-1 disc-who-baheeg">The restaurant offers a diverse menu with a wide range of
                            freshly
                            prepared seafood dishes, from grilled fish to
                            fried
                            and stewed specialties, all seasoned with delicious spices and made from the freshest
                            ingredients. Additionally,
                            thes
                            restaurant serves innovative sushi varieties and signature seafood soups.</p>

                        <p class="px-1 disc-who-baheeg"> The staff at Bahij Seafood Restaurant are welcoming and
                            professional, ensuring that every guest has a unique and
                            enjoyable experience. The restaurant places a high emphasis on cleanliness and quality,
                            guaranteeing an
                            unforgettable
                            dining experience for every visitor.</p>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>